$cursiveFont: 'Dancing Script', cursive;

#app {}

.navbar-item.main-nav-link {
  font-family: $cursiveFont;
  font-size: 35px;
  padding-left: 20px;
  &:hover {
    color:#9e0030;
  }
}

.navbar-item.secondary-nav-link {
  font-family: $cursiveFont;
  font-size: 20px;

  &:hover {
    background: white;
    color:#9e0030;
  }
}


div.tile {
  padding: 0;
}
