$cursiveFont: 'Dancing Script', cursive;
$app-color: black;
$highlight: white;

#app {
  background: $app-color;
}

#books {
  // margin-top: 20px;
}

div a {
  color: #4a4a4a;

  &:hover {
    color: $highlight;
  }
  cursor: pointer;
}

nav.navbar {
  background: $app-color;
  border-color: $highlight;
}

h1.title {
  font-family: $cursiveFont;
  // color: white;
}


// Navigation

.navbar-item.main-nav-link {
  font-family: $cursiveFont;
  font-size: 45px;
  padding-left: 20px;
  color: $highlight;

  &:active {
    color: $highlight;
  }

  &:hover {
    color: $highlight;
  }
}

.navbar-item.secondary-nav-link {
  font-family: $cursiveFont;
  font-size: 20px;

  &:hover {
    background: $app-color;
    color: $highlight;
  }
}

.navbar-item.secondary-nav-link.router-link-exact-active {
  background: $app-color;
  color: $highlight;
}

div#navMenu.navbar-menu {
  background: black;
  padding: 5px;
}

// Homepage

div.tile {
  padding: 0;
}

.flipper {
  margin: 20px auto 10px;
}

.flipper,
.tile {
  cursor: pointer;
  padding-bottom:24px;
}

figure.back {
  // padding: 24px;
  position: absolute;
  top: 0;
  right:0;
  // width:250px;
}

// Front Image
figure.image.home > img {
  width: 298px;
  height: 198px;
  &:hover {
    transform: scale(1.1);
    padding: 5px;
  }
}

img.card-image {
  margin-right:0px !important;
}

.back,
.front {
  display: block;
  backface-visibility: hidden;
  margin: 10px;
}

div.content {
  margin-bottom: 50px;
  font-size: 12px;
  text-align: center;
  color:$highlight;
  width:100%;
}

// Author and Book Pages
img.susan {
  width: 612px;
  height: 350px;
  text-align: center;
}

.section {
  text-align: center;
}

img.books {
  margin: 20px;
}

section.books {
  text-align: left;
  margin-top: 30px;
}

a.button.is-outlined.read-more {
  background: $app-color;
  margin-top: 30px;

  &:hover {
    color: $highlight;
  }
}


// Animations
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.flipper.flip {
  transform: rotateY(180deg);
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #9e9e9e;
}


/* ==========================================================================
Mobile Screen and Ipad Sizing
========================================================================== */
@media (min-width: 769px) and (max-width: 1089px) {

  figure.image.home > img  {
    // width: 200px;
    // height: 180px;
  }

}

@media (max-width: 769px) {
  img.card-image {
    text-align: center;
  }

  figure.image.home  {
    display: flex;
    justify-content: center;
  }
}
